.container{
    margin:2rem;
}

.slider{
text-align: center;
}

.slider img{
    width: 800px;
    box-shadow: 4px 4px 4px 4px rgb(143, 143, 143);
}

.fade{
    animation-name: fadeanimtion;
    animation-duration: 2s;
}

@keyframes fadeanimtion{
     from{
         opacity: 0;
     }
     to{
         opacity: 1;
     }
}