#nav{
    width: 250px;
    background: black;
    height: 100%;
    position: fixed;
    top:0;
    left: -250px;
    color:white;
    transition: all ease-in-out .5s;
}

#open{
    font-size: 20px;
}

#nav ul li{
    list-style-type: none;
    padding:1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(60, 60, 60);
    font-weight: 100;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(60, 60, 60);
    font-weight: 100;
}

#section{
    transition: all linear .5s;
}